TrackViewerWP/Service References/Services.TrackService/TrackService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFTrackServiceWebRole" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFTrackServiceWebRole" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TrackLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="TrackNo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackLocation" nillable="true" type="tns:TrackLocation" />
</xs:schema>