TrackViewerWP/Service References/Services.TrackService/TrackService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:81/TrackService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFTrackServiceWebRole" />
  <xs:element name="StartTracking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFTrackServiceWebRole" minOccurs="0" name="location" nillable="true" type="q1:TrackLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTrackingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartTrackingResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishTrackingInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trackId" type="xs:long" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFTrackServiceWebRole" minOccurs="0" name="location" nillable="true" type="q2:TrackLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishTrackingInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopTracking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trackId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopTrackingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopTrackingResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackingInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trackId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackingInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFTrackServiceWebRole" minOccurs="0" name="GetTrackingInfoResult" nillable="true" type="q3:TrackLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTrackingRestful">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trackNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTrackingRestfulResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartTrackingRestfulResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishTrackingInfoRestful">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trackNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishTrackingInfoRestfulResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackingInfoRestful">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trackId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackingInfoRestfulResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFTrackServiceWebRole" minOccurs="0" name="GetTrackingInfoRestfulResult" nillable="true" type="q4:TrackLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>